<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Antique</title>
		<%- include('./partials/head') %>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
	<%- include('./partials/header') %>

	
		<div class="banner"></div>
	

		<%- include('./productList') %>

		
		
	</body>
	<%- include('./partials/footer') %>	
</html>
