<section class="product-box">
    <a href="/products/<%=product.id%>">
        <figure class="product-box_image">
            <img src="../images/<%=product.imageName%>" alt="imagen de producto">
        </figure>
        <article class="product-box_data">
            <h2>$<%=product.price%></h2>
            <p><%=product.name%></p>
        </article>
    </a>
</section>
