<!DOCTYPE html>
<html>
	<%- include('./partials/head', {headCssPath: ["/css/main.css", "/css/header.css"]}) %> 
	<body>
		<%- include('./partials/header') %> 

		<%- include('./productInfo', {product}) %>
	</body>
</html>