<article>
    <h4 class="productInfo-productName"> <%= product.name %>  </h4>

    <img class="productInfo-productImage" src="../images/<%= product.imageName %>" alt="hoa">

    <h2 class="productInfo-productPrice"> $<%= product.price %> </h2>

    <p class="productInfo-productDescription">
        <%= product.description %> 
    </p>
</article>