<article>
    <h4> <%= product.name %>  </h4>

    <img src="../images/<%= product.imageName %>" alt="hoa">

    <h2> $<%= product.price %> </h2>

    <p>
        <%= product.description %> 
    </p>
</article>