body {
    padding: 0%;
    margin: 0%;
}

.navBar {

    height: 150px;
    background-color: red;
}

.navBar .buscarNavBar {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.navBar .buscarNavBar .navBarLogo {
    float: left;
    height: 100vh;
    width: 30vw;

}

