* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    font-size: 10px;
}

:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --white: #ffffff;
    --base-font-family: 'Roboto', sans-serif
}
  

/* Main Header */
.main-header {
    /*padding: 15px 0;*/
    
    /*background-color: var(--white);*/

    background-color: #DCDCDC;
    border-radius: 5px;
    margin-bottom: 30px;
}
  
.main-header_home-link,
.main-header_signin-link,
.main-header_cart-link {
    display: block;
}

.main-header_credit-link {
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
}

.main-header_container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.main-header_logo {
    order: 0;
    flex: 50%;
    font-size: 1.5em;
    padding: 2%;
}

.main-header_logo a {
    color: orangered;
}
.main-header_search-form {
    order: 2;
    flex: 100%;
    padding: 1%;
}

.main-header_signin-cart {
    order: 3;
    flex: 50%;
    padding: 2%;
}


.main-header_signin-cart {
    position: relative;
    display: flex;
    align-items: center;
}

.main-header_signin-link {
    display: block; 
    font-size: 1.5em;
    color: black;
}

.main-header_cart-link {
    color: black;
}

.topnav {
    order: 1;
}

.topnav a {
    padding: 0px;
    text-align: center;
}

.header-navbar {
    display: inline;
}
.header-navbar ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.header-navbar ul li {
    flex: 1;
}

.header-navbar ul li a {
    font-size: 1.5em;
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
}

.search-form_input {
    border: solid 1px var(--light-gray);
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 5px;
    height: 40px;
    font-size: 1.5em;
    background-color: var(--light-gray) ;
}

.search-form_button {
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: var(--light-gray);
    border: none;
    border-left: solid 1px var(--light-gray);
    color: var(--gray);
    cursor: pointer;
}



/*
@media (min-width: 1200px){

    .main-header_logo {
        order: 1;
        flex: auto;
        font-size: 2em;
    }
    
    .main-header_search-form {
        order: 2;
        flex: auto;
    }
    
    .main-header_signin-cart {
        order: 3;
        flex: auto;
    }
}
*/