/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* Variables */
:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --white: #ffffff;
  --base-font-family: 'Roboto', sans-serif
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    font-size: 10px;
}
  
body {
    font-family: var(--base-font-family);
    font-weight: 300;

    /*background-color: var(--white);*/
    
}

body {
    background-image: url("../images/wall-paper.jpg");
    background-color: #F5F5F5;
    background-position: center;
    background-blend-mode: luminosity;
}





/* Banner */

.banner {
    display: none;
}

/* Products */
.products-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
    
.products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
}
    
.product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    
}

.product-box a {
    display: block;
    background-color: white;
    border-radius: 15px;
}

.product-box_image {
    border-bottom: 1px solid var(--light-gray);
}

.product-box_image img {
    max-width: 100%;
    max-height: 100%;
}

.product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
    color: black;
}

.product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    transition: 300ms;
}

.product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*
.product-box:hover p{
    height: 40px;
    margin-top: 15px;
}
*/


/* Media-Queries */
/* 
@media (min-width: 768px) {

    .products-wrapper {
        flex-flow: row nowrap;
    }

    .product-box {
        margin: 20px;

    }
    
}
@media (min-width: 1200px){


    .header-navbar {
        display: inline;
    }
    .header-navbar ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
    }

    .header-navbar ul li {
        flex: 1;
    }
    
    .header-navbar ul li a {
        font-size: 1.5em;
        color: black;
        display: block;
        text-decoration: none;
        text-align: center;
    }

    .products-wrapper {
        flex-flow: row nowrap;
    }

    .product-box {
        margin: 20px;

    }

}
*/