<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {headCssPath:["/css/register.css", "/css/header.css", "/css/footer.css"]}) %>

<body>
  <%- include('./partials/header') %>

  <div class="banner"></div>
  
  <div class="container loginContainer">

    <div class="form_top">
      <h2>Completa <span>tus datos</span></h2>
    </div>

    <form action="/user/login" method="POST">
      <p>
        <label>E-mail:</label>
        <input type="email" name="email" required>
      </p>

      <p>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
      </p>
      
      <p>
        
        <label> Remember </label>
        <input type="checkbox" name="remember" required>
      </p>

      <div class="form">
        <input class="submit" type="submit" value="LogIn">
        <input class="reset" type="reset" value="Clean">
      </div>
    </form>

  </div>

</body>

<%- include('./partials/footer') %>

</html>